a{
    color:#ff0;
}
/*a{font-family: "Times New Roman", Georgia, Serif;}
/*a{
border-bottom: 2px dotted white ! important
}
/*

a:before{
color:blue;}
a:nth-child(2n+1){
    color:red;
}
p::beforee{
    color:red;
}
a:visited{
    color:red;
}


    *

    sel2

    #d.a#c[ all ]

    [foo  =  bar][     value|="class{ddd}enter"]

    [ foo2    =    bar2]


  {
    color:blue !important;

}

body{
    color:red;
}
@page{
    color:red;
}
.a , .b{
    color:red;
}
@media(screen){
    a{
        color:red;
    }
}

*/